<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>projet isd</title>
 
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Projet de traitement de fichiers Excel</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Projets tutorés - groupe médical 2</h1>
            <form method=post enctype=multipart/form-data action = "/excel_upload">
                <input type=file name=file id="excel_file">
                <input type=submit value=Upload>
              </form>
              <button id="visualiser">visualiser le fichier</button>
              
        </div>
 
        
        <div id="wrapper" class="container table table-bordered w-50 p-50" >

        </div>
        <footer class="footer">
            <p>&copy; ISD 2018</p>
        </footer>
 
    </div>
</body>
 

<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/xlsx.full.min.js"></script>
<script src="../static/js/script.js"></script>



</html>