<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>rapport du fichier</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
        
    <form action="/parse_excel" method=post>
    <div class="container">
        <button type="submit" class="btn btn-info">Valider</button>  
        {% for key in rapport %}
        <div class = "table-responsive" style="display : inline-block; vertical-align: top">
                <table class="table table-bordered ">
                        <thead>
                            <th> Feuille : {{key}} </th>
                            <th> Type de données </th>
                            <th>politique de correction </th>
                            <th> Valeur par défaut </th>
                            <th> considérer cette colonne </th>
                        </thead>
                        <tbody>
                                {%for element in rapport[key]%}
                                <tr>
                                    <td>
                                        {{element}}
                                    </td>
                                    <td>
                                        <select id="type-colonne" name="{{key}}{{element}}type">
                                            <option value="object" selected>String</option> 
                                            <option value="int">Entier</option>
                                            <option value="float">Reel</option>
                                            <option value="bool">booléen</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select id="politique-correction" name="{{key}}{{element}}politique">
                                            <option value="default_value" selected>valeur par defaut</option> 
                                            <option value="delete">supprimer la ligne</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input name="{{key}}{{element}}default-value" placeholder="DEFAULT_VALUE">
                                    </td>
                                    <td style="text-align: center">
                                        <input name="{{key}}{{element}}column-chosen" type="checkbox" value="True" checked >
                                    </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
        </div>
        {% endfor %}
        
        
        
        
        <footer class="footer">
            <p>&copy; ISD 2018</p>
        </footer>
 
    </div>
</form>
</body>
 

<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/script.js"></script>

</html>